---
title: 技術部落格
layout: layouts/home.njk
description: This is a tech blog, the post is contain of frontend, web3.0, blockchain, design and other thing i am interesting .
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

{# <p>
  This is a demo website based on 
  <a href="https://www.industrialempathy.com/posts/eleventy-high-performance-blog/">eleventy-high-performance-blog</a>.
</p> #}

{# TODO intro #}

<div id="posts">
  <h3>Popular Posts</h3>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>